.cart,
.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.empty {
    flex: 1;
    filter: opacity(50%);
}

.cart-icon {
    width: 150px;
}

table tr td:nth-of-type(2),
table tr th:nth-of-type(2) {
    text-align: center
}
table tr td:not(:first-of-type) {
    width: 70px;
}
.remove-icon {
    width: 20px;
    height: 20px;
    vertical-align: sub;
}
.remove-icon:hover {
    filter: contrast(2)
}