.cart,
.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.empty {
    flex: 1;
    filter: opacity(50%);
}

.cart-icon {
    width: 150px;
}

table tr td:nth-of-type(2),
table tr th:nth-of-type(2) {
    text-align: center
}