<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/main.css">
    <title>JS Band Store</title>
</head>

<body>
    <div class="container">
        <header class="header">
            <div class="container">
                <p><span>js band store</span> <span>/</span> <span>Your full name</span></p>
            </div>
        </header>
        <main class="main-content">
            <div class="container">
                <img class="user_photo" src="./img/user.svg" alt="User's photo">
                <form action="#!" class="formAuth">
                    <label for="user_name">Username</label>
                    <input type="text" placeholder="type Username" id="user_name">
                    <button>Sign-In</button>
                </form>
            </div>
        </main>
    </div>
</body>

</html>